<!doctype html> 
<html>  
  <head>  
    <title><%=shopName%></title> 
    <link rel="stylesheet" href="/style.css">
  </head>  
  <body>  
    <h1>This is the register page</h1> 
    <form action="/registered" method="POST"> 
      <div>
        First Name: <input id="first" type="text" name="first">
      </div>
      <div>
        Last Name: <input id="last" type="text" name="last">
      </div>
      <div>
        Email: <input id="last" type="email" name="email">
      </div>
      <div>
        <input type="submit" value="Submit"> 
      </div>
    </form> 
  </body>  
</html> 