<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1><%=shopName%> Shop</h1>
    <h2>You can search for products here</h2>
    <form action="/search_result" method="GET">
      Name: <input id="search_box" type="text" name="search_text">
      Category: <input id="search_box" type="text" name="category">
      <input type="submit" value="OK">
    </form>
  </body>
</html>